/*_reset*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/*_navegation*/
.nav {
  display: flex;
  height: 76px;
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  justify-content: flex-end;
  background-color: #694996;
}

.nav__list {
  position: fixed;
  left: 0;
  top: 76px;
  background-color: #694996;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 76px);
  width: 100%;
  padding-top: 55px;
  transform: translateX(101%);
  overflow: hidden;
  list-style: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-size: 1.25em;
}

.nav__list--open {
  transform: translateX(0%);
}

.nav__item {
  padding: 15px 0;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: #F8F5F9;
  overflow: hidden;
  background: linear-gradient(to right, #2B1563, #2B1563 50%, #F8F5F9 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.nav__link:hover {
  background-position: 0 100%;
}

.burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .3s linear;
}

.burger__line {
  width: 20px;
  position: relative;
  transition: all .1s linear;
}

.burger__line, .burger__line::before, .burger__line::after {
  height: 2px;
  background: #F8F5F9;
  border-radius: 5px;
}

.burger__line::before, .burger__line::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  right: 0;
  transition: all .2s linear;
}

.burger__line::before {
  transform: translateY(-8px);
}

.burger__line::after {
  transform: translateY(8px);
}

.burger__line--open {
  background: transparent;
}

.burger__line--open::before {
  transform: rotate(45deg);
}

.burger__line--open::after {
  transform: rotate(-45deg);
}

/*Particle*/
.particle {
  background: #2B1563;
  display: flex;
}

#particles-js {
  width: 100%;
  height: 400px;
}

.name__title {
  background-color: #2B1563;
  font-family: var(--menu-font-family), sans-serif;
  color: #F2F2E9;
  font-size: 2em;
  animation-duration: 3s;
  animation-name: textoMovimiento;
  animation-timing-function: linear;
}

@keyframes textoMovimiento {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}

/*Perfil*/
.articleprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  text-align: justify;
  background-color: #F2F2E9;
}

.articleprofile__title {
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 10px;
  animation-duration: 3s;
  animation-name: textoMovimiento;
  animation-timing-function: linear;
}

@keyframes textoMovimiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.articleprofile__title:hover {
  color: #9680b6;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.articleprofile__text {
  width: 90%;
  line-height: 1.3em;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 70px;
}

/*Habilidades*/
.articleabilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  text-align: justify;
  background-color: #d2c8e0;
}

.articleabilities__title {
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-top: 60px;
  margin-bottom: 10px;
  animation-duration: 3s;
  animation-name: textoMovimiento;
  animation-timing-function: linear;
}

@keyframes textoMovimiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.articleabilities__title:hover {
  color: white;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.articleabilities__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 50px;
}

.articleabilities__list__items {
  flex-direction: row;
  align-items: center;
  list-style: none;
  border: 2px solid #2d170e;
  margin: 25px 10px 15px 15px;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}

.articleabilities__list__items:hover {
  background: black;
  color: white;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

/*Rasgos personales*/
.articletrait {
  position: relative;
  background-color: #F2F2E9;
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articletrait__title {
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-top: 60px;
  margin-bottom: 10px;
  animation-duration: 3s;
  animation-name: textoMovimiento;
  animation-timing-function: linear;
}

@keyframes textoMovimiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.articletrait__title:hover {
  color: #9680b6;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.traitcontainer {
  width: 80%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.trait {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  width: 100%;
  flex-shrink: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 15px;
  position: relative;
  transition: all .5s ease-out;
  margin-bottom: 50px;
}

.trait:not(:last-child) {
  margin-right: 80%;
}

.trait__text {
  width: 70%;
  color: #898989;
  margin: 10%;
  left: 80px;
  font-size: 2em;
}

.trait__btnLeft, .trait__btnRight {
  position: absolute;
  top: 50%;
  color: #694996;
  font-size: 1em;
}

.trait__btnLeft:hover, .trait__btnRight:hover {
  color: #2B1563;
}

.trait__btnLeft {
  left: 20px;
}

.trait__btnRight {
  right: 10px;
}

/*Proyectos*/
.Projectscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: #d2c8e0;
}

.Projectscontainer__title {
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 10px;
  animation-duration: 3s;
  animation-name: textoMovimiento;
  animation-timing-function: linear;
}

@keyframes textoMovimiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.Projectscontainer__title:hover {
  color: white;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.Projects {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  color: #2d170e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  background-color: #e9e4f0;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 70px;
  animation-duration: 3s;
  animation-name: textoMovimiento;
  animation-timing-function: linear;
}

@keyframes textoMovimiento {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.Projects__text {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  line-height: 1.3em;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
}

.Projects__text2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  line-height: 1.3em;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: center;
}

.Projects__link {
  z-index: 1;
  color: #2d170e;
  padding: 5px 5px;
  border: 2px solid #2d170e;
  margin: 25px 0 15px 0;
  position: relative;
  text-transform: uppercase;
}

.Projects__link::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b1a68e;
  transform-origin: center top;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}

.Projects__link:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #694996;
  height: 76px;
  padding: 10px 20px;
}

.footer__item {
  display: inline-block;
  font-size: 1.5em;
}

.footer__item:not(:last-child) {
  margin-right: 7px;
}

.footer__link {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .nav > div.burger {
    display: none;
  }
  ul.nav__list {
    position: static;
    flex-direction: row;
    justify-content: center;
    height: auto;
    transform: translateX(0);
    padding: 0;
    width: auto;
    margin-right: 300px;
    font-size: 1em;
  }
  ul.nav__list li {
    padding: 0 15px;
  }
  ul.nav__list li:last-child {
    padding: 0 0 0 15px;
  }
  .name__title {
    font-size: 3em;
  }
  /*Perfil*/
  .articleprofile {
    padding-top: 30px;
  }
  .articleprofile__title {
    font-size: 2.5em;
  }
  .articleprofile__text {
    width: 60%;
    text-align: justify;
    font-size: 1.3em;
  }
  /*Habilidades*/
  .articleabilities__title {
    font-size: 2.5em;
  }
  .articleabilities__list {
    width: 40%;
    text-align: justify;
    font-size: 1.1em;
  }
  .articleabilities__list__items {
    margin: 25px 10px 15px 40px;
    padding: 10px 15px;
  }
  /*Rasgos personales*/
  .articletrait__title {
    font-size: 2.5em;
  }
  .traitcontainer {
    width: 40%;
    height: 80%;
  }
  .trait {
    font-size: 1em;
  }
  .trait__text {
    margin: 30px 10px 30px 150px;
  }
  .trait__btnLeft {
    left: 200px;
  }
  .trait__btnRight {
    right: 200px;
  }
  /*Proyectos*/
  .Projectscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    background-color: #d2c8e0;
  }
  .Projectscontainer__title {
    font-size: 2.5em;
  }
  .Projects {
    width: 50%;
  }
  .Projects__text {
    font-size: 1.5em;
  }
  .Projects__text2 {
    font-size: 1.5em;
  }
}
