$background-color: #694996;
$burger-color: #F8F5F9;
$nav-height: 76px;
$links-color: #F8F5F9;
$hover-color: #2B1563;
$primary-font-color: #000;
$menu-font-family: 'Playfair Display';
/*_reset*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
}
/*_navegation*/
.nav {
    display: flex;
    height: 76px;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    justify-content: flex-end;
    background-color: $background-color;

    &__list {
        position: fixed;
        left: 0;
        top: 76px;
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100vh - #{$nav-height});
        width: 100%;
        padding-top: 55px;
        transform: translateX(101%);
        overflow: hidden;
        list-style: none;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        font-size: 1.25em;

        &--open {
            transform: translateX(0%);
        }
    }

    &__item {
        padding: 15px 0;
    }
    &__link {
        position: relative;
        display: inline-block;
        font-size: 2em;
        font-weight: 800;
        color: $links-color;
        overflow: hidden;
        background: linear-gradient(to right, $hover-color, $hover-color 50%, $links-color 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        &:hover {
          background-position: 0 100%;
        }
    }
}

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .3s linear;

    &__line {
        width: 20px;
        position: relative;
        transition: all .1s linear;

        &,
        &::before,
        &::after {
            height: 2px;
            background: $burger-color;
            border-radius: 5px;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            right: 0;
            transition: all .2s linear;
        }

        &::before {
            transform: translateY(-8px);
        }

        &::after {
            transform: translateY(8px);
        }

        &--open {
            background: transparent;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}

/*Particle*/
.particle{
    background: #2B1563;
    display: flex;
  }
.particle p{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #particles-js{
    width: 100%;
    height: 400px;

  }

/*Perfil*/
.article__profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  text-align: justify;
    background-color: #F2F2E9;
}
.article__profile h3{
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-bottom: 10px;
}
.profile__description{
  width: 90%;
  line-height: 1.3em;
  font-size: 1em;
  font-family:'Montserrat', sans-serif;
  margin-bottom: 30px;
}

/*Habilidades*/
.article__abilities{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 15px;
  text-align: justify;
  background-color: #d2c8e0;
}
.article__abilities h3{
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-bottom: 10px;
}
.list__abilities {
 display: flex;
 flex-wrap: wrap;

}
.list__abilities li{
  flex-direction: row;
  align-items: center;
  list-style: none;
  border: 2px solid #2d170e;
  margin: 25px 10px 15px 15px;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
}
/*Rasgos personales*/
.article__trait {
    position: relative;
    background-color: #F2F2E9;
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article__trait h2{
  font-family: var(--menu-font-family), sans-serif;
  color: #2B1563;
  font-size: 2em;
  margin-bottom: 10px;
}

 .trait__container {
     width: 80%;
     display: flex;
     overflow: hidden;
     align-items: center;
 }

 .trait {
     font-family: 'Montserrat', sans-serif;
     font-size: .8em;
     width: 100%;
     flex-shrink: 0;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 5px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     margin-bottom: 15px;
     position: relative;
     transition: all .5s ease-out;
 }

 .trait:not(:last-child) {
     margin-right: 80%;
 }

 .trait p {
     width: 70%;
     color: #898989;
     margin: 10%;
     left: 80px;
     font-size: 2em;
 }

 #btnLeft,
 #btnRight {
     position: absolute;
     top: 50%;
     color: gray;
     font-size: 1em;
 }

 #btnLeft {
    left: 20px;
 }

#btnRight {
    right: 10px;
}

#btnLeft:hover,
#btnRight:hover {
    opacity: .5;
}



@media screen and (min-width: 1000px) {
  .nav > div.burger {
          display: none;
      }
      ul.nav__list {
          position: static;
          flex-direction: row;
          justify-content: center;
          height: auto;
          transform: translateX(0);
          padding: 0;
          width: auto;
          margin-right: 300px;
          font-size: 1em;
      }

      ul.nav__list li {
          padding: 0 15px;
      }

      ul.nav__list li:last-child {
          padding: 0 0 0 15px;
      }



}
