nav{
    font-family: 'Playfair Display', serif;
    display: flex;
    height: 76px;
    background-color: green;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
